@font-face {
    font-family: 'vincent_regular';
    src: url(../fonts/vincent_regular-webfont.woff2) format('woff2'),
         url(../fonts/vincent_regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ohio_fontregular';
    src: url(../fonts/ohio_font-webfont.woff2) format('woff2'),
         url(../fonts/ohio_font-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'made_bon_voyageregular';
    src: url(../made_bon_voyage_regular_personal_use-webfont.woff2) format('woff2'),
         url(../fonts/made_bon_voyage_regular_personal_use-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'made_bon_voyagethin';
    src: url(../fonts/made_bon_voyage_thin_personal_use-webfont.woff2) format('woff2'),
         url(../fonts/made_bon_voyage_thin_personal_use-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	scroll-behavior: smooth;
  }

.container {
	width: 978px;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #eed9be;
	width: 100%;
}










header {
	background-color: #c65535;
	width: 100%;
	height: 70px;
	position: fixed;
	z-index:100;
}

.nav {
	font-family: 'ohio_fontregular';
	line-height: 70px;
}

.navlink:link {
	color: #ffffff;
}

.navlink:visited {
	color: #eed9be;
}

.navlink:active {
	color: #848817;
}

.navlink:hover {
	font-size: 40px;
	transition: .3s ease;
}

.title {
	font-size: 52px;
	padding-left: 10px;
	float: left;
}

.history {
	font-size: 30px;
	padding-right: 30px;
	float: right;
}

.gallery {
	font-size: 30px;
	padding-right: 30px;
	font-variant-ligatures: unset;
	float: right;
}

.artists {
	font-size: 30px;
	padding-right: 30px;
	float: right;
}

.scrollimg {
	background-image: url(../images/scrollimg.jpg);
	background-attachment: fixed;
	width: 100%;
	height: 500px;
	background-size: cover;
	align-items: center;
	scroll-behavior: smooth;
}








.history-header {
	padding-top: 60px;
	padding-bottom: 60px;
	font-family: 'ohio_fontregular';
	font-size: 124px;
	text-align: center;
}

.paragraph {
	font-family: 'made_bon_voyageregular';
	font-size: 14px;
	line-height: 20px;
}

.left {
	padding-right: 35px;
	text-align: left;
}

.right {
	text-align: left;
}

.P-one {
	width: 476px;
	float: left;
}

.P-two {
	width: 476px;
	float: left;
}









.gallery-header {
	padding-top: 70px;
	padding-bottom: 60px;
	clear: both;
	font-family: 'ohio_fontregular';
	font-size: 124px;
	text-align: center;
}

.gallery-parent {
	height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-child {
	margin-right: 10px;
	margin-bottom: 15px;
}

.house {
	background-image: url(../images/Gallery/house.jpg);
	width: 326px;
	height: 322px;
}

.treeriver {
	background-image: url(../images/Gallery/treeriver.jpg);
	width: 143px;
	height: 237px;
}

.party {
	background-image: url(../images/Gallery/party.jpg);
	width: 340px;
	height: 237px;
	margin-right: 0px;
}

.bigboat {
	background-image: url(../images/Gallery/bigboat.jpg);
	width: 153px;
	height: 155px;
	padding-top: 5px;
	margin-right: 20px;
	position: relative;
	z-index: 10;
}

.flowers {
	background-image: url(../images/Gallery/flowers.jpg);
	width: 153px;
	height: 155px;
	position: relative;
	z-index: 10;
}

.momkid {
	background-image: url(../images/Gallery/momkid.jpg);
	width: 314px;
	height: 238px;
	margin-top: -82px;
	position: relative;
	z-index: 10;
}

.weirdtree {
	background-image: url(../images/Gallery/weirdtree.jpg);
	width: 170px;
	height: 113px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: -82px;
}

.dadkid {
	background-image: url(../images/Gallery/dadkid.jpg);
	width: 170px;
	height: 113px;
	margin-right: 0px;
	margin-left: 660px;
	margin-top: -132px;
	position: relative;
	z-index: 0;
}

.gallery-child:hover {
	box-shadow: 7px 7px 3px #331a14;

	-webkit-transition: box-shadow 400ms;
	-moz-transition: box-shadow 400ms;
	-o-transition: box-shadow 400ms;
	transition: box-shadow 400ms;
}

.uno{
	background-image:url(../images/Gallery/popup/bighouse.jpg);
}

.dos{
	background-image:url(../images/Gallery/popup/bigtreeriver.jpg);
}

.tres{
	background-image:url(../images/Gallery/popup/bigparty.jpg);
}

.quatro{
	background-image:url(../images/Gallery/popup/bigbigboat.jpg);
}

.cinco{
	background-image:url(../images/Gallery/popup/bigflowers.jpg);
}

.seis{
	background-image:url(../images/Gallery/popup/bigmomkid.jpg);
}

.siete{
	background-image:url(../images/Gallery/popup/bigweirdtree.jpg);
}

.ocho{
	background-image:url(../images/Gallery/popup/bigdadkid.jpg);
}







.artists-header {
	padding-top: 60px;
	padding-bottom: 60px;
	font-family: 'ohio_fontregular';
	font-size: 124px;
	text-align: center;
}

.big {
	width: 978px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.big .artist-right {
	flex-direction: row-reverse;
}

.big > * {
	flex-direction: column;
	display: flex;
	gap: 10px;
}

.big > div > * {
	gap: 10px;
}

.big div img {
	height: 100%;
	width:100%;
}

.big .artist-name {
	flex: 1;
	overflow:hidden;
	text-align:center;
	display:flex;
	flex-direction: column;
	justify-content:center;
}

.big .artist-name .artist-title {
	white-space:nowrap;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
.big.artist-left .artist-name .artist-title {
	transform:rotate(180deg);
}

.big .self-portrait {
	flex: 3;
}

.big .self-portrait a{
	height:100%;
}

.big .artist-gallery-featured {
	flex: 2;
}

.big .artist-gallery-featured > div:first-child {
	flex: 1;
}

.big .artist-gallery-featured > div:last-child {
	flex: 2;
}

.big .artist-gallery {
	flex: 6;
}

.big .artist-gallery > div {
	flex-direction: row;
	flex: 1;
	display: flex;
}

.big .artist-gallery .top-images > div {
	flex: 1;
}
.big .artist-gallery .copy-text .bar {
	flex: 1 1 auto;
}
.big .artist-gallery .copy-text .copy {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.big .artist-gallery .bottom-images > div {
	flex: 1;
}



.artist-title {
	font-family: 'ohio_fontregular';
	font-size: 57px;
}

.artist-link:hover {
	transform: scale(1.05);
	transition: .3s ease;
}

.self-portrait-left {
	width: 224px;
	height: 344px;
	margin-right: 30px;
	display: flex;
}

.self-portrait-right {
	width: 224px;
	height: 344px;
	margin-left: 30px;
	display: flex;
}

.purple {
	background-color: #523458;
	width: 14px;
	height: 123px;
}

.green {
	background-color: #848817;
	width: 14px;
	height: 123px;
}

.textbox {
	font-family: 'made_bon_voyageregular';
	font-size: 13px;
	line-height: 14px;
}

.opposite {
	text-align: right;
}

.second {
	margin-top: 55px;
	margin-bottom: 55px;
}

.quote {
    font-family: 'vincent_regular';
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}








.footer {
	background-image: url(../images/footer.jpg);
	width: 100%;
	height: 190px;
	background-size: contain;
	background-attachment: fixed;
	align-items: center;
	scroll-behavior: smooth;
}

.footertitle {
	float: left;
	padding-top: 15px;
	padding-left: 15px;
	font-family: 'ohio_fontregular';
	font-size: 45px;
}

.footer-museum {
	float: right;
	padding-top: 15px;
	padding-right: 60px;
}

.footer-learnmore {
	float: right;
	padding-top: 15px;
	padding-right: 60px;
}

.footer-socialmedia {
	float: right;
	padding-top: 15px;
	padding-right: 80px;
}

.museum {
	font-family: 'ohio_fontregular';
	font-size: 30px;
}

.learnmore {
	font-family: 'ohio_fontregular';
	font-size: 30px;
}

.socialmedia {
	font-family: 'ohio_fontregular';
	font-size: 30px;
}

.tiny-text {
	font-family: 'made_bon_voyageregular';
	font-size: 13px;
	padding-top: 15px;	
}

.footer-link:link {
	color: #000000;
}

.footer-link:visited {
	color: #523458;
}

.footer-link:active {
	color: #c65535;
}

.footer-link:hover {
	font-size: 20px;
	transition: .3s ease;
}